<h1>Let the games begin</h1>
<p>Think of the longest possible word from the letters below</p>
<% @letters.each do |letter| %>
<div class = container>
  <h1><div class="letter"><%= letter %></div></h1>
</div>
<% end %>
<form action="/games/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="answer" placeholder="Enter your longest word">
  <input type="submit">
</form>
